<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome!! This is Webpack simple example</h1>
<button id="alert-button">Alerts the user!</button>
<button id="write-text-button">Write text to the p tag!</button><p></p>

<div class="img-grid">
    <img src="<%= require('./src/img/1.jpg') %>"/>
    <img src="<%= require('./src/img/2.jpg') %>"/>
    <img src="<%= require('./src/img/3.jpg') %>"/>
    <img src="<%= require('./src/img/4.jpg') %>"/>
    <img src="<%= require('./src/img/5.jpeg') %>"/>
</div>

</body>
</html>
